@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import "tailwindcss";
@plugin "daisyui";
/* html {
scroll-behavior: smooth;
} */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.jersay{
    font-family: "Jersey 20", sans-serif;
}

.glow-border {
    position: relative;
    border-radius: 0.125rem; /* match rounded-sm */
    z-index: 0;
  }
  
  .glow-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(270deg, #7f5af000, #ff00a6, #f05ab443);
    background-size: 600% 600%;
    animation: glowAnim 6s ease infinite;
    -webkit-mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
    box-sizing: border-box;
  }
    
  @keyframes glowAnim {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }


.drop-shadow-glow{
  text-shadow: 0px 0px 32px rgba(255,0,123,1);
}

.donut-spin {
  animation: spin 5s linear infinite;
  transition: transform 0.3s ease;
}

.donut-spin:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.tech-border{
  background:
  radial-gradient(circle at 100% 100%, #242332 0, #242332 0.5px, transparent 0.5px) 0% 0%/3px 3px no-repeat,
  radial-gradient(circle at 0 100%, #242332 0, #242332 0.5px, transparent 0.5px) 100% 0%/3px 3px no-repeat,
  radial-gradient(circle at 100% 0, #242332 0, #242332 0.5px, transparent 0.5px) 0% 100%/3px 3px no-repeat,
  radial-gradient(circle at 0 0, #242332 0, #242332 0.5px, transparent 0.5px) 100% 100%/3px 3px no-repeat,
  linear-gradient(#242332, #242332) 50% 50%/calc(100% - 4px) calc(100% - 6px) no-repeat,
  linear-gradient(#242332, #242332) 50% 50%/calc(100% - 6px) calc(100% - 4px) no-repeat,
  linear-gradient(130deg, #4846679a 0%, rgba(102, 193, 238, 0.767) 100%);
border-radius: 3px;
padding: 10px;
box-sizing: border-box;
}


.btn-glow{
  box-shadow: 0px 4px 29px 0px rgba(236, 72, 153, 0.5);

}

@media (max-width: 1439px) {
  .hide-below-1440 {
    display: none;
  }
}

